<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Program Almedalen</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Libre+Franklin:300,400,700" rel="stylesheet">
      <link rel="stylesheet" href="/main.css">
      <script type="text/javascript">
        document.querySelector("html").classList.add("javascript-enabled");
      </script>
  </head>
  <body>
    <div class="Program">
      <div class="Filters">
        <form id="filters">
          <div class="FilterGroup">
            <h1 class="FilterGroupTitle">Dagar</h1>
            {{#each days}}
              <div class="Tag">
                <input type="checkbox" id="{{this}}" {{#ifCond this "in" @root.selectedDays}}checked="checked" {{/ifCond}} name="days" value="{{
                this}}">
                <label for="{{this}}">{{prettyDay this}}</label>
              </div>
            {{/each}}
          </div>
          <div class="FilterGroup">
            <h1 class="FilterGroupTitle">Ämnen</h1>
            {{#each tags}}
              <div class="Tag">
                <input type="checkbox" id="{{this}}" {{#ifCond this "in" @root.selectedTags}}checked="checked" {{/ifCond}} name="tags" value="{{this}}">
                <label for="{{this}}">{{this}}</label>
              </div>
            {{/each}}
          </div>
        </form>
      </div>
      <div class="EventList">
        <h1 class="SiteHeader">Almedalen 2017</h1>
        <div id="event-list">{{> events events}}</div>
      </div>
    </div>
  </body>
  <script>
    var filtersForm = document.querySelector("#filters");
    var eventList = document.querySelector("#event-list");
    var filters = ["days", "tags"]

    function getQueryString(filterName) {
      var queryString;
      var selectedFilterItems = (new FormData(filtersForm)).getAll(filterName);
      if (selectedFilterItems.length > 0) {
        queryString = filterName + "=" + selectedFilterItems.map(function(str) { return encodeURIComponent(str); }).join("|");
      }
      return queryString;
    }

    filtersForm.addEventListener("change", function() {
      var queryStrings = [];

      filters.forEach(function(filterName) {
        var qs = getQueryString(filterName);
        if (qs) {
          queryStrings.push(qs);
        }
      });

      window.history.replaceState({}, "", "?" + queryStrings.join("&"));

      fetch("/events?" + queryStrings.join("&")).then(function(response) {
        return response.text();
      }).then(function(html) {
        eventList.innerHTML = html;
      });
    });
  </script>
</html>
